<!DOCTYPE html>
    <html>
    <head>
        <title>
            Story 7: Hanifah Annisa Putri
        </title>
        <script>
            function colorChange() {
                document.body.style.backgroundImage = "url('https://pm1.narvii.com/6963/c9cfb06e7ef2a31d545064760ce9a4f6e59188d0r1-2048-1536v2_00.jpg')";
                document.getElementById("tes").style.background="#e39cc1";
                document.getElementById("text").style.color="white";
                document.getElementById("hehe").style.background="#00313C";
            }
            </script>
    </head>
    <body style="background-image: linear-gradient(to right, #f7cac9, #91a8d0); background-size:100% auto;">
        <div>
            <div align="center">
                <div id="tes" style="background-color: #fddfdf; padding-top: 1%; padding-bottom: 2%; margin-top: 5%; width:75%; align-items: center;">
                    <span align='center'>
                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; color: #46597a;">Confirmation Page</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for data in form_data %}
                    <button type="button" onclick="colorChange()"style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: #d89896; font-size: small;">Set Theme</button>
                    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: bold; color: #46597a;">Please confirm the input you've given. <br>Are the datas you have inputted correct?</p>
                    <b><input type="hidden" id="title" name="title" value="{{data.title}}"><div style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: bold; color: #46597a;">Name: {{ data.title }}</input></div>
                    <input id="tes" type="hidden" id="status" name="status" value="{{data.status}}"><div style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: bold; color: #46597a;">Status: {{ data.status }}</input></div><br></b>
                    <input id="tes" type="submit" value="yes" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: #d89896; font-size: larger; padding-left: 1%; padding-right: 1%;">
                    <a href="{% url 'index' %}">
                        <input id="tes" type="button" value="cancel" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: #46597a; font-size: larger; padding-left: 1%; padding-right: 1%;"/>
                     </a>
                </form>
                </span>
            </div>
            </span>
        </div>
        {% endfor %}
    </body>
</html>