<!DOCTYPE html>
    <html>
    <head>
        <title>
            Story 7: Hanifah Annisa Putri
        </title>
    </head>
    <script>
        function colorChange() {
            document.body.style.backgroundImage = "url('https://pm1.narvii.com/6963/c9cfb06e7ef2a31d545064760ce9a4f6e59188d0r1-2048-1536v2_00.jpg')";
            document.getElementById("tes").style.background="#e39cc1";
            document.getElementById("tes").style.color="white";
            document.getElementById("hehe").style.background="#00313C";

        }
        </script>
    <body style="background-image: linear-gradient(to right, #f7cac9, #91a8d0); background-size:100% auto;">
        <div>
            <div align="center">
                <div id="tes" style="background-color: #fddfdf; padding-top: 1%; padding-bottom: 2%; margin-top: 5%; width:75%; align-items: center;">
                    <span align='center'>
                    <h1 id="tes" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; color: #46597a;">Hello World!</h1>
                <form method="POST">
                    {% csrf_token %}
                    <button id="tes" type="button" onclick="colorChange()"style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: #d89896; font-size: small;">Set Theme</button>
                    <p id="tes" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #46597a;">Enter Your Name: <input type="text" name="title"></p>
                    <p id="tes" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #46597a;">Enter Your Status: <input type="text" name="status"></p>
                    <input id="tes" type="submit" value="submit" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: #d89896; font-size: larger;">
                </form>
                </span>
            </div>
            </span>
            <br>
            <table id="hehe" style="border-color: color; text-align: center; background-color: #91a8d0; color: white;" border="5%" width="75%" align="center">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date and Time</th>
                </tr>
                {% for i in datas %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.status }}</td>
                    <td>{{ i.created_date }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>